<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/public/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h3>글 쓰 기</h3>
<hr/>
<table id="form">
    <tbody>
    <tr>
        <th>제목</th>
        <td><input type="text" id="subject" value=""/></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td><input type="text" id="user_name" value=""/></td>
    </tr>
    <tr>
        <th>내용</th>
        <td>
            <textarea id="content" name="content"></textarea>
        </td>
    </tr>
    <tr>
        <th>사진</th>
        <td>
            <input type="file" id="file"/>
            <div id="prev"></div>
        </td>
    </tr>
    <tr>
        <th colSpan=2>
            <button id="save">저장</button>
            <a href="/board">리스트</a>
        </th>
    </tr>
    </tbody>
</table>
</body>
<script>
    const btn_save = document.getElementById("save");
    const user_name = document.getElementById("user_name");
    const subject = document.getElementById("subject");
    const content = document.getElementById("content");
    const file = document.getElementById("file");
    const prev = document.getElementById("prev");
    file.onchange = e =>{
        //console.log(e);
        let file = e.target.files[0]; // 파일 정보를 추출
        // 미리보기
        // 1. 파일을 읽을 리더 준비
        let reader = new FileReader();
        reader.readAsDataURL(file); // 2. 데이터를 base64 형식으로 읽어온다.(바이너리를 16진수 형태 문자로 읽음)
        reader.onloadend = function(e){ // 3. 파일을 다 읽었을 때...
            console.log(e);//e.target.result 를 Image 에 넣으면 된다.
            prev.innerHTML = `<Image key=${e.timeStamp} src=${e.target.result} alt=${file.name} width=100 height=100/>`;
        }
    }
    btn_save.onclick = async e => {

        let formData = new FormData();
        formData.append('user_name', user_name.value);
        formData.append('subject', subject.value);
        formData.append('content',content.value);
        if (file.files.length !== 0)
            formData.append('file',file.files[0]);
        console.log(formData)
        let {data} = await axios.post('/board/write',formData);
        if(data.success === true){
            alert('글쓰기에 성공 하였습니다.');
            location.href='/detail/'+data.idx;
        }else{
            alert('글쓰기에 실패 했습니다.');
        }
    };
</script>
</html>